-- MySQL dump 10.13  Distrib 8.4.8, for Linux (x86_64)
--
-- Host: localhost    Database: pet
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `buyer_profiles`
--

LOCK TABLES `buyer_profiles` WRITE;
/*!40000 ALTER TABLE `buyer_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `buyer_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cart_items`
--

LOCK TABLES `cart_items` WRITE;
/*!40000 ALTER TABLE `cart_items` DISABLE KEYS */;
INSERT INTO `cart_items` VALUES (201,201,201,1,NULL),(202,201,202,1,NULL),(203,202,204,1,NULL),(206,211,213,1,'PENDING');
/*!40000 ALTER TABLE `cart_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `carts`
--

LOCK TABLES `carts` WRITE;
/*!40000 ALTER TABLE `carts` DISABLE KEYS */;
INSERT INTO `carts` VALUES (211,101),(201,204),(202,205),(207,206);
/*!40000 ALTER TABLE `carts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `mock_microchip_registry`
--

LOCK TABLES `mock_microchip_registry` WRITE;
/*!40000 ALTER TABLE `mock_microchip_registry` DISABLE KEYS */;
/*!40000 ALTER TABLE `mock_microchip_registry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `order_events`
--

LOCK TABLES `order_events` WRITE;
/*!40000 ALTER TABLE `order_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
INSERT INTO `order_items` VALUES (201,700.00,1,201,206),(202,1100.00,1,202,204),(203,800.00,2,203,202),(204,1200.00,3,203,201),(205,23123.00,1,204,213);
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` VALUES (201,'Buyer Lane 4',NULL,'Alice Buyer','SHIPPED',NULL,'PAID','0944444444','COMPLETED',1200.00,NULL,204,202,'COD'),(202,'Customer Blvd 5',NULL,'Bob Customer','UNFULFILLED',NULL,'UNPAID','0955555555','PENDING',1100.00,NULL,205,202,'BANK_TRANSFER'),(203,'12312',NULL,'duytu','PROCESSING','1212312','PENDING','123412312312312','CREATED',5200.00,'2026-04-25 16:46:48.474360',206,202,'COD'),(204,'eqweqwe',NULL,'ewer','PROCESSING','qe','PENDING','eqeqweqw','CREATED',23123.00,'2026-04-25 18:36:39.357838',206,208,'COD');
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `otp_verifications`
--

LOCK TABLES `otp_verifications` WRITE;
/*!40000 ALTER TABLE `otp_verifications` DISABLE KEYS */;
INSERT INTO `otp_verifications` VALUES (201,204,'123456',NULL,'2026-04-25 16:11:10',1,'2026-04-25 16:01:10'),(202,205,'654321',NULL,'2026-04-25 16:11:10',0,'2026-04-25 16:01:10');
/*!40000 ALTER TABLE `otp_verifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pet_certificates`
--

LOCK TABLES `pet_certificates` WRITE;
/*!40000 ALTER TABLE `pet_certificates` DISABLE KEYS */;
INSERT INTO `pet_certificates` VALUES (201,201,'900123456789001','CERT-GOL-001','AKC',1,NULL,NULL,'2026-04-25 16:00:22'),(202,202,'900123456789002','CERT-SIA-002','TICA',0,NULL,NULL,'2026-04-25 16:00:22'),(204,204,'900123456789004','CERT-HUS-004','AKC',0,NULL,NULL,'2026-04-25 16:00:22'),(205,205,'900123456789005','CERT-PER-005','CFA',1,NULL,NULL,'2026-04-25 16:00:22'),(206,206,'900123456789006','CERT-POO-006','AKC',0,NULL,NULL,'2026-04-25 16:00:22');
/*!40000 ALTER TABLE `pet_certificates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pet_images`
--

LOCK TABLES `pet_images` WRITE;
/*!40000 ALTER TABLE `pet_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `pet_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pet_requirements`
--

LOCK TABLES `pet_requirements` WRITE;
/*!40000 ALTER TABLE `pet_requirements` DISABLE KEYS */;
INSERT INTO `pet_requirements` VALUES (201,201,120,60,60,150,1,'2026-04-25 16:00:22'),(202,202,60,30,30,80,1,'2026-04-25 16:00:22'),(203,204,180,80,120,200,2,'2026-04-25 16:00:22'),(204,208,90,50,45,120,1,'2026-04-25 16:00:22'),(205,209,120,40,60,130,1,'2026-04-25 16:00:22'),(206,211,0,0,0,0,0,'2026-04-25 16:58:40'),(207,212,0,0,0,0,0,'2026-04-25 18:21:15'),(208,213,0,0,0,0,0,'2026-04-25 18:29:57');
/*!40000 ALTER TABLE `pet_requirements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pet_vaccinations`
--

LOCK TABLES `pet_vaccinations` WRITE;
/*!40000 ALTER TABLE `pet_vaccinations` DISABLE KEYS */;
INSERT INTO `pet_vaccinations` VALUES (201,201,'Rabies','2026-01-15','City Vet Clinic',NULL,1),(202,201,'DHPP','2026-02-10','City Vet Clinic',NULL,1),(203,202,'FVRCP','2026-03-05','Happy Pets Hospital',NULL,1),(204,204,'Rabies','2026-01-20','Vet Care Center',NULL,1),(205,205,'FVRCP','2026-02-28','Happy Pets Hospital',NULL,1);
/*!40000 ALTER TABLE `pet_vaccinations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pets`
--

LOCK TABLES `pets` WRITE;
/*!40000 ALTER TABLE `pets` DISABLE KEYS */;
/*!40000 ALTER TABLE `pets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'user','Ng╞░ß╗¥i mua, truy cß║¡p Web Shop'),(2,'admin','Quß║ún trß╗ï vi├¬n hß╗ç thß╗æng s├án'),(3,'operators','Chuy├¬n vi├¬n thß╗▒c ─æß╗ïa qu├⌐t chip dß║ío'),(4,'shop','Chß╗º shop, quß║ún l├╜ sß║ún phß║⌐m');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `seller_profiles`
--

LOCK TABLES `seller_profiles` WRITE;
/*!40000 ALTER TABLE `seller_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `seller_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sso_accounts`
--

LOCK TABLES `sso_accounts` WRITE;
/*!40000 ALTER TABLE `sso_accounts` DISABLE KEYS */;
INSERT INTO `sso_accounts` VALUES (201,204,'GOOGLE','google_user_12345','2026-04-25 16:00:47'),(202,205,'FACEBOOK','facebook_user_67890','2026-04-25 16:00:47');
/*!40000 ALTER TABLE `sso_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_addresses`
--

LOCK TABLES `user_addresses` WRITE;
/*!40000 ALTER TABLE `user_addresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_ai_usage`
--

LOCK TABLES `user_ai_usage` WRITE;
/*!40000 ALTER TABLE `user_ai_usage` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_ai_usage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (101,1),(102,1),(103,1),(104,1),(108,1),(109,1),(110,1),(204,1),(205,1),(206,1),(101,2),(104,2),(201,2),(102,3),(104,3),(203,3),(207,3),(209,3),(202,4),(208,4);
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `verification_logs`
--

LOCK TABLES `verification_logs` WRITE;
/*!40000 ALTER TABLE `verification_logs` DISABLE KEYS */;
INSERT INTO `verification_logs` VALUES (201,201,203,'2026-04-25 16:00:47','https://example.com/chip1.jpg','Admin Street 1','Healthy',NULL,'VERIFIED'),(202,202,203,'2026-04-25 16:00:47','https://example.com/chip2.jpg','Shop Street 2','Excellent',NULL,'VERIFIED');
/*!40000 ALTER TABLE `verification_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `verification_tasks`
--

LOCK TABLES `verification_tasks` WRITE;
/*!40000 ALTER TABLE `verification_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `verification_tasks` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-29  9:07:46
