.sidebar {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
}

.item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }

  &.active {
    background: #f86d72;
    color: white;
    font-weight: bold;
  }
}
