.instagram-item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
    border-radius: 16px;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover .overlay {
    opacity: 1;
  }

  .icon {
    color: white;
    font-size: 30px;
  }
}
