.account {
  padding: 40px;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
}

/* mobile */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
