<div class="account">

  <div class="container">

    <app-account-sidebar
      [activeTab]="tab()"
      [isSeller]="authService.isSeller()"
      (tabChange)="setTab($event)"
    />

    <div class="content">

      <app-account-orders *ngIf="tab() === 'orders'" />
      <app-account-info *ngIf="tab() === 'info'" />
      <app-account-payment *ngIf="tab() === 'payment'" />
      <app-account-edit *ngIf="tab() === 'edit'" />

      <app-account-seller-register *ngIf="tab() === 'seller-register'" />

      <div *ngIf="tab() === 'seller-channel'">
        <!-- Kênh người bán -->
      </div>


    </div>

  </div>
</div>
