<div class="account">

  <div class="container">

    <!-- SIDEBAR -->
    <app-account-sidebar
      [activeTab]="tab()"
      (tabChange)="setTab($event)"
    />

    <!-- MAIN CONTENT -->
    <div class="content">

      <app-account-orders *ngIf="tab() === 'orders'" />
      <app-account-info *ngIf="tab() === 'info'" />
      <app-account-payment *ngIf="tab() === 'payment'" />
      <app-account-edit *ngIf="tab() === 'edit'" />
      <!-- Thêm các component khác khi cần -->
      <!-- <app-account-wallet *ngIf="tab() === 'wallet'" /> -->

    </div>

  </div>
</div>
