<div id="footer-bottom" class="footer-bottom">
  <div class="footer-bottom-grid">

    <!-- Left -->
    <div class="left">
      <div class="group">
        <span>We ship with:</span>
        <img src="/demo/images/dhl.png" />
        <img src="/demo/images/shippingcard.png" />
      </div>

      <div class="group">
        <span>Payment options:</span>
        <img src="/demo/images/visa.jpg" />
        <img src="/demo/images/mastercard.jpg" />
        <img src="/demo/images/paypal.jpg" />
      </div>
    </div>

    <!-- Right -->
    <div class="right">
      © Copyright 2024 Book Shop.
      Product demo by <a href="#">LeeNV</a>
    </div>

  </div>
</div>
