<div id="footer-bottom" class="footer-bottom">
  <div class="footer-bottom-grid">

    <!-- Left -->
    <div class="left">
      <div class="group">
        <span>We ship with:</span>
        <span class="badge">DHL</span>
        <span class="badge">Express</span>
      </div>

      <div class="group">
        <span>Payment options:</span>
        <span class="badge">Visa</span>
        <span class="badge">Mastercard</span>
        <span class="badge">PayPal</span>
      </div>
    </div>

    <!-- Right -->
    <div class="right">
      © Copyright 2024 Gu Pet.
      Product demo by <a href="#">Team 1</a>
    </div>

  </div>
</div>
