<ng-container *ngIf="auth.showLoginModal()">
  <div class="modal-backdrop">
    <div class="modal">
      <mat-tab-group [(selectedIndex)]="tabIndex">
        <mat-tab label="Login">
          <input matInput placeholder="Email" [(ngModel)]="email" />
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" />
          <button mat-raised-button color="primary" (click)="login()">Login</button>
        </mat-tab>

        <mat-tab label="Register">
          <input matInput placeholder="Email" />
          <input matInput type="password" placeholder="Password" />
          <button mat-raised-button color="primary" (click)="register()">Register</button>
        </mat-tab>
      </mat-tab-group>

      <button mat-button (click)="auth.closeLogin()">Close</button>
    </div>
  </div>
</ng-container>
