<div class="shop">

  <div class="container">

    <app-my-shop-sidebar
      [active]="tab()"
      (changeTab)="setTab($event)"
    />

    <div class="content">

      <app-my-shop-dashboard *ngIf="tab() === 'dashboard'" />

      <app-my-shop-products *ngIf="tab() === 'products'" />
      <app-my-shop-orders *ngIf="tab() === 'orders'" />
      <app-my-shop-info *ngIf="tab() === 'info'" />
      <app-my-shop-edit-info *ngIf="tab() === 'edit-shop'"/>
      <app-add-product *ngIf="tab() === 'add-product'" />
      <app-edit-product *ngIf="tab() === 'edit-product'" />
      <app-my-shop-order-detail *ngIf="tab() === 'order-detail'"/>
      <app-my-shop-revenue *ngIf="tab() === 'revenue'"/>
      <app-my-shop-reconciliation *ngIf="tab() === 'reconciliation'"/>
      <app-my-shop-settings *ngIf="tab() === 'settings'"/>

    </div>

  </div>

</div>
